.checkout-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f3f4f6;
}

.address-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.new-add{
    width: 150px;
    height: 45px;
    border: none;
    background-color: #38bdf8;
    color: black;
    border-radius: 0.3rem;
    font-size: medium;
    cursor: pointer;
}

.add-item{
    margin-bottom: 1rem;
    background-color: var(--secondary-color);
}

.user-name, .user-add, .user-num{
    margin: 1rem 0.5rem;
}

.edit-add, .del-add{
    margin: 0.3rem;
    width: 5rem;
    height: 2rem;
    border: none;
    background-color: #38bdf8;
    color: black;
    border-radius: 0.3rem;
    cursor: pointer;
}

.del-add{
    background-color: red;
    color: white;
}