.filter{
    display: flex;
    flex-direction: column;
}

.price, .rating, .sort, .category{
    border: 1px solid;
    margin: 1rem;
}

.heading{
    display: flex;
}

.rating{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex-wrap: nowrap;
}
