.login-parent{
    min-height: calc(100% - 96px);
    width: 100%;
    background-color: var(--secondary-color)
}
.login-sub{
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 3px #888888;
    gap: 1rem;
}

.email, .pw{
    margin: 0rem 1rem;
    align-self: flex-start;
    width: 80%;
}

.email-inp, .pw-inp{
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #f3f5f6;
    box-shadow: 1px 1px 1px #888888;
    margin: 0.2rem 0rem;
}

.signin-btn, .test-btn{
    color: white;
    background-color: #1d4ed8;
    cursor: pointer;
    font-size: 15px;
    border-radius: 0.3rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid #1d4ed8;
    width: 60%;
}

.signup-link{
    text-decoration: none;
    color: #1d4ed8;
}