
.filter{
    grid-area: filter;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    grid-area: product-list;
    background-color: #f3f4f6;  
}

.prod-item{
    border: 1px solid var(--secondary-color);
    padding: 0.5rem;
    list-style-type: none;
    margin: 0.5rem;
    width: 20%;
    background-color: var(--secondary-color);
    border-radius: 0.2rem;
}

.prod-item:hover{
    transition: 200ms;
    box-shadow: 3px 4px  3px var(--primary-color);
}

.add-btn {
    background-color: var(--btn-primary);
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.4rem;
    color: #ffffff;
    border: none;
    margin: 0.5rem;
}

.add-btn:hover{
    transition: 700ms;
    background-color: white;
    color: #38bdf8;
}

.go-btn{
    text-decoration: none;
    border: none;
    border-radius: 0.3rem;
    padding: 0.4rem;
    background-color: #10b981;
    color: white;
    margin: 0.5rem;
    cursor: pointer;
}

.wl-btn{
    background-color: #f472b6;
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.4rem;
    color: #ffffff;
    border: none;
    margin: 0.1rem;
}

.wl-btn:hover{
    transition: 700ms;
    background-color: white;
    color: #f472b6;
}


.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-template-areas:
        "filter product-list product-list product-list";
}


