.summary-parent{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--secondary-color);
  box-shadow: 3px 3px 3px #888888;
}

.order-list{
  list-style-type: none;
  align-self: flex-start;
  
}